.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100%;

  background: linear-gradient(lighten(red, 20%), lighten(blue, 20%));

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 300px;

    margin-bottom: 10px;

    padding: 16px;

    border: 2px solid #fff;

    border-radius: 6px;

    ion-icon {
      font-size: 24px;
    }
  }

  //PLAYGROUND
  .playground {
    width: 300px;
    height: 500px;

    background: linear-gradient(lighten(red, 20%), lighten(blue, 20%));

    border: 2px solid #fff;
    border-radius: 6px;

    position: relative;

    .player {
      width: 100px;
      height: 10px;

      transition: 0.1s;

      background: #fff;

      z-index: 10;
    }

    #player1 {
      position: absolute;
      bottom: 20px;
      left: 100px;

      //animation: player1 3s infinite;
    }

    #player2 {
      position: absolute;
      top: 20px;
      left: 100px;

      //animation: player2 3s infinite;
    }

    .ball {
      width: 20px;
      height: 20px;

      background: #fff;

      border-radius: 50%;

      //transition: 0.1s;

      position: absolute;

      //animation: ball 3s infinite;
    }

    .move-btn-container {
      width: 100%;

      button: {
        padding: 10px;
      }
    }

    //PLAYER 2 WAIT
    .player-2-wait-container {
      #message {
        width: 80%;

        text-align: center;
        font-size: 26px;

        padding: 10px;

        border-radius: 6px;
      }
    }

    //COUNTDOWN
    .countdow-container {
      #countdown {
        font-size: 64px;
      }
    }

    //GAME OVER
    .game-over-container {
      z-index: 1;

      #game-over {
        font-size: 32px;
      }

      #home-btn {
        margin-top: 10px;

        color: #000;
        background: #fff;

        padding: 10px;

        border-radius: 6px;
      }
    }

    //DEBUG
    .center-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      span {
        display: block;

        font-size: 36px;
        color: #fff;
      }
    }

    //PLAYGROUND CONTENTS
    .playground-contents {
      position: absolute;

      .points-container {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 46%;

        color: #fff;

        text-align: center;

        #points {
          transition: 0.5s;
          font-size: 64px;
        }

        #username {
          margin: 0 20px;
        }
      }

      #line {
        display: block;
        width: 100%;
        height: 2px;

        background: #fff;
      }
    }

    //LAST POINT
    .last-point-container {
      background: #fff;

      transition: 0.5s;

      border-radius: 6px;

      .last-point-message-container {
        width: 100%;

        position: relative;

        #last-point-message {
          display: flex;
          justify-content: center;

          width: 100%;
          margin: 10px 0;

          color: lightblue;
          background: #fff;

          text-align: center;

          padding: 10px;

          border-radius: 6px;

          z-index: 100;

          #username {
            margin-left: 8px;

            color: red;
          }
        }

        span {
          display: block;

          width: 100px;
          height: 5px;

          position: absolute;

          transition: 1s;
        }

        #left {
          left: 0;
          top: 0;

          background: lightblue;

          animation: lastPointbackgroundItemLeft 2s infinite;
        }

        #right {
          right: 0;
          bottom: 0;

          background: red;

          animation: lastPointbackgroundItemRight 2s infinite;
        }

        @keyframes lastPointbackgroundItemLeft {
          0% {
            left: 0;
          }

          50% {
            left: 200px;
          }

          100% {
            left: 0;
          }
        }

        @keyframes lastPointbackgroundItemRight {
          0% {
            right: 0;
          }

          50% {
            right: 200px;
          }

          100% {
            right: 0;
          }
        }
      }

      .points-container {
        margin-top: 40px;

        p {
          margin: 0;
          text-align: center;
        }

        #usernames {
          margin-bottom: 10px;

          color: gray;
        }

        #points {
          color: red;
        }
      }
    }
  }
}
