<ion-header>
  <ion-toolbar>
    <ion-title>Match List</ion-title>
    <ion-icon
      name="person"
      slot="end"
      (click)="router.navigate(['account'])"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<div class="container-full gradient" *ngIf="matches && matches.length > 0">
  <item-list class="matches-container">
    <ion-item
      button
      class="match"
      (click)="router.navigate(['match/' + match.id])"
      *ngFor="let match of matches"
    >
      <p><span>Creator:</span> {{match.player1.username}}</p>
    </ion-item>
  </item-list>
</div>

<div
  class="container-full-flex-center gradient not-fount-matches-container"
  *ngIf="matches && matches.length === 0"
>
  <h2 id="not-fount-matches-message">NON CI SONO MATCH IN CUI UNIRTI</h2>
</div>

<button (click)="createMatchActionSheet()" class="full-btn light">
  Create Match
</button>
