<div class="container-full-flex-center gradient">
  <h2 id="title">PONG</h2>
  <form [formGroup]="form" (ngSubmit)="signIn()">
    <input formControlName="nickname" placeholder="Nickname" required />
    <input formControlName="password" placeholder="Password" required />
    <button type="submit" class="light full-btn radius">Accedi</button>
  </form>

  <div class="sign-in-up-page-switch-container">
    <h3 id="title">Non hai un account?</h3>
    <button
      class="light full-btn radius"
      (click)="router.navigate(['sign-up'])"
    >
      Registrati
    </button>
  </div>
</div>
